source /home/boris/dlang/dmd-2.093.1/activate
export MYSQL_CONSTRING='host=localhost;port=3306;user=dsubs_dev;pwd=dsubs_dev;db=dsubs_dev'
# export INFLUXDB_URL='http://172.20.0.2:8086/write?db=dsubs_dev'
